<div class="p-10 flex flex-col gap-5">
  <div
    class="w-full p-5 overflow-x-auto rounded-lg shadow-sm border border-border"
  >
    <table hlmTable>
      <caption hlmCaption>
        Listagem de competência
      </caption>
      <thead hlmTHead>
        <tr hlmTr>
          <th  class="w-[100px]"hlmTh>Mês</th>
          <th  class="w-[100px]" hlmTh>Ano</th>
          <th  class="w-[100px]" hlmTh>Situação</th>
          <th class="w-[10px]" hlmTh></th>
        </tr>
      </thead>
      <tbody hlmTBody>
        <tr hlmTr *ngFor="let item of objeto">
          <td hlmTd>{{ item.cd_competencia }}</td>
          <td hlmTd>{{ item.dt_ano }}</td>
          <td hlmTd>{{ item.tp_status }}</td>
          <td hlmTd class="flex flex-row h-full w-full gap-2 items-center">
            <button title="Abrir" *ngIf=" item.tp_status == 'FECHADO'" class="p-1 rounded hover:bg-muted transition" (click)="mudarStatus(item)">
              <ng-icon hlm size="sm" name="lucideLockOpen" />
            </button>
            <button  title="Fechar" *ngIf=" item.tp_status == 'ABERTO'" class="p-1 rounded hover:bg-muted transition" (click)="mudarStatus(item)">
              <ng-icon hlm size="sm" name="lucideLock" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
