  <!-- Lista de Transações Recentes -->
  <div hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle>Movimentação Conta Nubank</h3>
    </div>
    <div hlmCardContent>
    <table hlmTable>
       <thead hlmTHead>
          <tr hlmTr>
            <th hlmTh class="w-[25%]">Descrição</th>
            <th hlmTh class="w-[25%]"  >Destinatario</th>
            <th hlmTh class="w-[25%]" >Data</th>
            <th hlmTh class="w-[25%]" >Valor</th>
          </tr>
        </thead>
          <tbody hlmTBody>
          <tr hlmTr *ngFor="let item of lista" >
            <td hlmTd >{{ item.description }}</td>
            <td hlmTd >{{ item.recipien }}</td>
            <td hlmTd >{{ item.date | date: 'dd/MM/yyyy HH:mm' : 'UTC' }}</td>
            <td hlmTd  [class.text-green-600]="item.type === 'CREDIT'" [class.text-red-600]="item.type === 'DEBIT'">
              R$ {{item.amount | number: '1.2-2' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>