<div class="flex min-h-screen items-center justify-center bg-muted px-4">
  <form
    #f="ngForm"
    (ngSubmit)="logar()"
    class="w-full max-w-sm rounded-2xl bg-background p-6 shadow-lg flex flex-col gap-3"
  >
 
    <app-input
      [inputId]="'login'"
      [type]="'text'"
      [label]="'Seu login de acesso'"
      [required]="true"
      placeholder="Login"
      [(model)]="objeto.login"
    ></app-input>

    <app-input
      [inputId]="'senha'"
      [type]="'password'"
      [label]="'Sua senha de acesso'"
      [required]="true"
      placeholder="Senha"
      [(model)]="objeto.senha"
    ></app-input>


    <button
      hlmBtn
      variant="default"
      class="w-full mb-3"
    >
      Entrar
    </button>

  </form>

  
</div>
