<div class="min-h-screen flex flex-col md:flex-row">
  <!-- Lado esquerdo com imagem -->
  <div
    class="hidden md:flex w-full md:w-1/2 bg-muted items-center justify-center p-6"
  >
    <img
      src="assets/login-img2.png"
      alt="Controle Financeiro"
      class="w-3/4 max-w-md"
    />
  </div>

  <!-- Lado direito com o formulário -->
  <div
    class="w-full md:w-1/2 flex items-center justify-center bg-background px-4 py-12"
  >
    <form
      #f="ngForm"
      (ngSubmit)="logar()"
      class="w-full max-w-sm rounded-2xl p-8 shadow-xl border border-muted flex flex-col gap-5"
    >
      <h2 class="text-2xl font-bold text-center">Acesso ao Sistema</h2>

      <app-input
        [inputId]="'login'"
        [type]="'text'"
        [label]="'Seu login de acesso'"
        [required]="true"
        placeholder="Login"
        [(model)]="objeto.login"
        (blur)="processarLogin()"
      ></app-input>

      <div *ngIf="fl_exibirCliente == true">
        <app-combobox
          label="Organização: (*)"
          [options]="listaClientes"
          [(model)]="objeto.id_cliente"
          name="id_cliente"
        ></app-combobox>
      </div>

      <app-input
        [inputId]="'senha'"
        [type]="'password'"
        [label]="'Sua senha de acesso'"
        [required]="true"
        placeholder="Senha"
        [(model)]="objeto.senha"
      ></app-input>

      <button hlmBtn variant="default" class="w-full mt-2">Entrar</button>
    </form>
  </div>
</div>
